.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: var(--font-clicker);
  text-align: center;

  color: var(--tertiary-color-2);
}

@media (prefers-color-scheme: dark) {
  .title {
    color: var(--secondary-color-2);
  }
}
